body {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 35, 35);
  color: whitesmoke;
}
a {
  margin-top: 30px;
  font-size: 1.3rem;
  text-decoration: none;
  color: rgb(225, 57, 57);
}

.name-input,
.date-input {
  padding: 8px;
  border: none;
  font-size: 15px;
}

.addTodo-btn {
  border: none;
  background-color: rgb(3, 149, 3);
  color: whitesmoke;
  cursor: pointer;
  transition: opacity 0.15s, transform 0.15s;
  align-items: stretch;
  font-size: 15px;
}

.delete-btn,
.edit-btn {
  border: none;
  padding: 8px;
  font-size: 15px;
  background-color: rgb(208, 43, 43);
  color: whitesmoke;
  cursor: pointer;
  transition: opacity 0.15s, transform 0.15s;
}

.edit-btn {
  background-color: rgb(121, 56, 200);
}

.delete-btn:hover,
.edit-btn:hover,
.addTodo-btn:hover {
  opacity: 0.8;
}

.delete-btn:active,
.edit-btn:active,
.addTodo-btn:active {
  transform: scale(1.05);
}

.grid-container {
  display: grid;
  grid-template-columns: 170px 150px 100px;
  column-gap: 5px;
  row-gap: 10px;
  align-items: center;
}

.todo-grid {
  display: grid;
  grid-template-columns: 110px 110px 100px 100px;
  column-gap: 3.5px;
  row-gap: 10px;
  align-items: center;
}

.grid-container {
  margin-bottom: 15px;
  align-items: stretch;
}

@media all and (max-width: 500px) {
  .todo-grid {
    grid-template-columns: 100px 90px 75px 75px;
  }
  .grid-container {
    grid-template-columns: 140px 120px 80px;
  }
}
